<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
  <a style="color: white;" class="navbar-brand" href="#">EVEREST HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/medicine-list">Back</a>
      
        </ul>
    
  </div>

</nav>
<hr>
<hr>
<hr>
<div class="container">
  
<div>
<div>
  <label> <b> Drug Name: </b></label> {{medicine.drugName}}
</div>

<div>
  <label> <b> Stock: </b></label> {{medicine.stock}}
</div>

  
</div>
</div>